<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <input type="text" class="input" name="email">
        <input type="text" class="input" name="password">
        <button type="submit" class="btn__sumbit">Отправить</button>
        <button type="reset">Сбросить</button>

    </form>
    {{userInfo}}

    <a href="{% url 'getCards' %}">Получить карточки</a>

    <script>
        
        addEventListener('click' , () => {
            inputs = document.querySelector('.input')
            userInfo =  fetch('http://127.0.0.1:8000/auth/', {
                method: 'POST',
                body: JSON.stringify({'email' : 'rozhov25@bk.ru' , 'password' : 'testPASS'})
            });
        })
        
    </script>
    
</body>
</html>