<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <input type="text" class="input" name="email">
        <input type="text" class="input" name="password">
        <button type="submit" class="btn__sumbit">Отправить</button>
        <button type="reset">Сбросить</button>

    </form>
    {{userInfo}}

    <a href="{% url 'getCards' %}">Получить карточки</a>

    <div class="data"></div>

    <script>
        
        document.querySelector('form').addEventListener('submit' , (e) => {
            e.preventDefault()
            let inputs = document.querySelectorAll('.input')
            let date = new Date()
            for (let i = 0; i < 10; i++) {
                fetch('http://127.0.0.1:8000/action' , {
                    method : 'POST' , 
                    headers : {'Accept': 'application/json', 'Content-Type': 'application/json',} ,
                    body : JSON.stringify({'email' : inputs[0].value , 'password' : inputs[1].value})
                    // }).then(res => res.json()).then(res => document.querySelector('.data').innerHTML = JSON.stringify(res.cards))
                    }).then(res => res.json()).then(res => console.log(`Выполнен запрос №${i} ${JSON.stringify(res.cards)}  ${date.getSeconds()}`))
                
            }
            
            
        })
        
    </script>
    
</body>
</html>